/*----------About page style----------*/
.navbar {
    background-color: #eff2ec !important;
}

.shadow-sm {
    box-shadow: none!important;
}

.contact-image img {
    width: 100%;
    position: relative;
}
.container {
    background-color: #eff2ec !important;
}

.two-column-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-content{
    padding: 40px;
}

.profile-content h1 {
    color: #5b6d46;
}

.profile-content p {
    color: #5b6d46;
}

#triangle {
    background-color: #eff2ec;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    width: 100%;
    height: 100px;
}


@media (max-width: 1544px) {
    .container {
        width: 100%;
        position: relative; 
        padding: 20px;
    }

    .profile-content{
        padding: 0%;
    }

    .profile-content h1{
        text-align: center;
        padding-top: 20px;
    }

    .two-column-profile{
        margin: 0px;
        grid-template-columns: auto;
    }

    .contact-image img{
        width: 100%;
    }
}

