/*----------Contact page style----------*/

.overlay {
  height: 700px;
  background-color: #eff2ec;
}

.col-md-9 {
  padding: 50px;
}

.two-column-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-content p {
  font-size: 20px;
}

.address {
  margin: 40px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

.two {
  background: linear-gradient(
    90deg,
    #eff2ec,
    #bfcbb3,
    #8ca276,
    #73895d,
    #9c5449,
    #9c5449,
    #c68e86
  );
}
@media (max-width: 1200px) {
  .contact-content {
    padding: 0%;
  }

  .contact-us h3 {
    text-align: center;
    padding-top: 20px;
  }
}
