/*----------Footer style----------*/
.text-muted {
  margin-left: 40px;
  color: #5b6d46 !important;
}

.bi {
  margin-right: 40px;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }

  footer .nav {
    padding-top: 20px;
  }

  footer .text-muted {
    margin-left: 0%;
  }
}
