/*----------Navbar Style----------*/

.navbar p {
  margin-top: 20px;
  color: #5b6d46;
  font-size: 15px;
}

.navbar img {
  height: 90px;
  margin-left: 40px;
}

.navbar-nav {
  margin-right: 40px;
}

.nav-item {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  padding: 10px;
}

.nav-item a {
  color: #5b6d46 !important;
}

.nav-item a:hover {
  color: #8b4b41 !important;
  text-decoration: underline 1px #8b4b41;
}

@media (max-width: 440px) {
  .navbar p {
    font-size: 10px;
  }

  .navbar img {
    height: 70px;
  }
}
